<section class="rkm_section_container">
  <h2 class="rkm_title">Favorite Colors</h2>
  <div class="rkm_favorites">
    <ul class="list-group" *ngFor="let color of colors; let idx = index">
      <li class="list-group-item" style="cursor: pointer;"
          (click)="favoriteSelected(idx)">
        <span [style.backgroundColor]="color.colorName" id="colorbox">&nbsp;</span>
        {{color.colorName}}

        <span *ngIf="color.isFavorite; else notFavorite">
      <i class="fa fa-star" [style.color]="color.colorName" aria-hidden="true"></i>
        </span>
        <ng-template #notFavorite>
          <i class="fa fa-star-o" [style.color]="color.colorName" aria-hidden="true"></i>
        </ng-template>
      </li>
    </ul>
  </div>
</section>

