<section class="rkm_section_container">
  <h2 class="rkm_title">Favorite Colors</h2>
  <div class="rkm_favorites">
    <ul class="list-group" *ngFor="let color of colors">
      <li class="list-group-item" style="cursor: pointer;"
          (click)="favoriteSelected()">
        <span [style.backgroundColor]="color" id="colorbox">&nbsp;</span>
        {{color}}

        <span *ngIf="isFavorite; else notFavorite">
      <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <ng-template #notFavorite>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </ng-template>
      </li>
    </ul>
  </div>
</section>

