.fa-heart-o{
  color: #ff0000;
}
.fa-heart-o:hover{
  color: #111111;
}

.panel-title{
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
  color: #000099;
}


.rkm_btn_likes{

}
