


<form [formGroup]="passwordForm"  >
  <div formGroupName="userAccount">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        formControlName="oldpassword"
        type="password"
        formControlName="oldpassword"
        name="oldPassword"
        id="oldPassword"
        class="form-control">
      <div *ngIf="oldpassword.pending">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        Validating password....</div>
      <div *ngIf="oldpassword.touched && oldpassword.invalid" class="alert alert-danger">
        <div *ngIf="oldpassword.errors.required">Old Password is required.</div>
        <div *ngIf="oldpassword.errors.invalidPassword">Old Password is not valid.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        formControlName="newpassword"
        type="password"
        id="newPassword"
        name="newPassword"
        class="form-control">
      <div *ngIf="newpassword.touched && newpassword.invalid" class="alert alert-danger">
        <div *ngIf="newpassword.errors.required">New Password is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        formControlName="confirmpassword"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      class="form-control">
      <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="alert alert-danger">
        <div *ngIf="confirmpassword.errors.required">Please confirm new password.</div>

      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg" >Change Password</button>

</form>
