
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">rkmNGBeg2Adv</a>
      <img src="../../../assets/images/rkm_signet_eurostar_whtltr.svg" class="img-responsive rkm_signet" alt="RKM Signet"/>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <a class="navbar-brand navbar-right rkm_navbar_right-text" href="#">More Learning &amp; Having Fun!</a>
    </div><!--/.nav-collapse -->

  </div>
</nav>
