<nav class="navbar navbar-inverse navbar-fixed-top rkm_navbar_top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-5">
        <img src="../../../assets/images/rkm_signet_eurostar_whtltr.svg" class="img-responsive rkm_signet" alt="RKM Signet"/>
      </div> <!-- col signet -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-md-pull-1 rkm_navbar_tagline">
        <a class="navbar-brand navbar-right" href="#">More Learning &amp; Having Fun!</a>
      </div> <!-- col tagline -->


      <div class="col-md-6  rkm_navbar_link" >
        <a routerLink="/home" style="cursor:pointer;" routerLinkActive="active" >Home</a>
        <a routerLink="/basics" routerLinkActive="active"  style="cursor:pointer;">Ng Basics</a>
        <a routerLink="/components" routerLinkActive="active"  style="cursor:pointer;">Components</a>
        <a routerLink="/http" routerLinkActive="active"  style="cursor:pointer;">HttpRequests</a>
        <span class="dropdown">
          <a routerLink="/forms" routerLinkActive="active"  style="cursor:pointer;" data-toggle="dropdown" class="dropdown-toggle" >
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            Forms
          </a>
          <ul class="dropdown-menu ">
            <li class="rkm_navbar_dropdown-item">  <a routerLink="/template" routerLinkActive="active"  style="cursor:pointer;">Template Driven</a></li>
            <li class="rkm_navbar_dropdown-item"> <a routerLink="/reactive" routerLinkActive="active"  style="cursor:pointer;">Reactive </a></li>
          </ul>
        </span>
        <a routerLink="/pipdir" routerLinkActive="active"  style="cursor:pointer;">Pipes & Directives</a>
      </div>
    </div> <!-- row -->
  </div> <!-- container fluid -->
</nav>


