<div class="container">
  <div class="row">
    <h2>Template Driven</h2>
    <div class="col-lg-6 col-md-6">
      <h3 class="rkm_title"><i class="fa fa-list" aria-hidden="true" style="color: cornflowerblue"></i> Contact Form </h3>
      <rkm-contact-form></rkm-contact-form>

    </div>
    <div class="col-lg-6 col-md-6">
      <h3 class="rkm_title"><i aria-hidden="true" class="fa fa-list" style="color: deeppink"></i> Assignment | Course Form</h3>
      <rkm-course-form></rkm-course-form>
    </div>
  </div>
  <div class="row">
    <h2>Reactive </h2>
    <div class="col-lg-6 col-md-6">
      <h3 class="rkm_title"><i class="fa fa-list" aria-hidden="true" style="color: cornflowerblue"></i> Sign-up Form </h3>


    </div>
    <div class="col-lg-6 col-md-6">
      <h3 class="rkm_title"><i aria-hidden="true" class="fa fa-list" style="color: deeppink"></i> Course Form</h3>
      <rkm-course-form></rkm-course-form>
    </div>
  </div>
</div>

