

<div class="container">
  <h1>My Followers</h1>
  <div class="media"
       *ngFor="let githubFollower of followers">
    <div class="media-left media-middle">
      <a href=""><img
        src="{{githubFollower.avatar_url}}" alt="" class="media-object rkm_github_avatar-img"></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading rkm_github_follower-header">
        <a [routerLink]="['/followers', githubFollower.login]">{{githubFollower.login}} </a> </h4>
      <a href="githubFollower.html_url">{{githubFollower.html_url}}</a>
    </div>

  </div>

</div>

