<form #courseTemplate="ngForm" (ngSubmit)="formSubmit(courseTemplate)">
  <div class="rkm_courseform_group">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input required minlength="4" pattern="^[a-zA-Z][a-zA-Z0-9-_\s]*$"
             type="text"  ngModel name="courseName" #courseName="ngModel" id="courseName" class="form-control">
      <div class="alert alert-danger"
           *ngIf="courseName.touched && !courseName.valid">
        <div *ngIf="courseName.errors.required">Course Name is required,</div>
        <div *ngIf="courseName.errors.minlength">Course Name must be more than {{courseName.errors.minlength.requiredLength}} characters</div>
        <div *ngIf="courseName.errors.pattern">Course Name can only contain alphanumeric characters and cannot start with a number.</div>
      </div>

      <label for="courseCategory">Course Category</label>
      <select id="courseCategory" required class="form-control" ngModel #category="ngModel" name="courseCategory">
        <option selected></option>
        <option *ngFor="let courseCategory of courseCategories" [value]="courseCategory.courseID">{{courseCategory.courseType}}</option>
      </select>
      <div class="alert alert-danger"
           *ngIf="category.touched && !category.valid">
        <div *ngIf="category.errors.required">Course category is required</div>
      </div>
      <input type="checkbox" name="hasGuarantee" id="hasGuarantee" ngModel /><label for="hasGuarantee"> &nbsp; 30-day money-back guarantee</label>
      <br />
      <div>{{courseTemplate.value | json}}</div>
  </div>

    <button class="btn btn-lg btn-primary" [disabled]="!courseTemplate.valid">Create</button>
  </div>
</form>
