<div class="row">
  <div class="col-md-8">
    <form>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="title">text</span>
        <input [(ngModel)]="title" type="text" name="title" class="form-control" placeholder="Enter your title" aria-describedby="title" />

      <span class="input-group-btn">
        <button class="btn  btn-success" type="reset" >Clear Text</button>
      </span>
      </div>
    </form>
    <br />
    <h4>  {{ title | rkmtitlecase }}</h4>

  </div>

</div>
