/* You can add global styles to this file, and also import other style files */
.rkm_navbar_top{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.rkm_container{
  margin-top: 5em;
}

.rkm_signet{
  position: relative;
  top: .3em;
  
}
.rkm_navbar_header {
  padding-left: 11em;
}

