/* You can add global styles to this file, and also import other style files */
.rkm_container{
  margin-top: 11em;
}

.rkm_title{
  font-family: 'Philosopher', cursive;
  font-size: 2em;
  color: navy;
}

.rkm_section_container{
  margin-left: 3em;
}

.rkm_favorites{
  font-family: 'Quattrocento', sans-serif;
  font-size: 1.25em;
  font-weight: 600;
}
